<h1> My name is <%= @name %> </h1>
<div style='border: 3px dashed red'>
  <img src='http://vignette4.wikia.nocookie.net/p__/images/f/fe/CatDog-Episode-1--Dog-Gone.jpg.gif/revision/latest?cb=20120406185426&path-prefix=protagonist'>
</div>
